<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
<title>UI</title>
<script type="text/javascript" src="../_pub_include/head.js"></script><!-- //Pub Include : head-->
<script>
$(document).ready(function() {
	//init
	UI.init();

	//Test
	//Create Profile 버튼 클릭시
	UI.layout.rightbar.open();

	//Test Title
	// $('.navbar-title').text('Template');
});
</script>
</head>
<body class="ui-mobile-init">

<!-- wrap -->
<div class="ui-wrap">
	<!-- header -->
	<header class="ui-header">
		<div class="header-wrap">
			<div class="navbar">
				<!-- 
					layout-sidebar-toggle
					layout-sidebar-open
					layout-sidebar-close
					layout-rightbar-toggle
					layout-rightbar-open
					layout-rightbar-close
				 -->
				<button type="button" class="btn  btn-white btn-round layout-sidebar-toggle" aria-label="Toggle Nav"></button>

				<button type="button" class="btn  btn-white btn-round layout-rightbar-toggle" aria-label="Toggle Nav"></button>
				Header navbar
			</div>
		</div>
	</header>
	<!-- //header -->

	<!-- sidebar -->
	<aside class="ui-sidebar">
		<button type="button" class="layout-sidebar-close" aria-label="Sidebar Close"><i class="icon_close_white"></i></button>
		<div class="sidebar-wrap">
			<div style="height:1200px">sidebar</div>
			Sidebar
		</div>
	</aside>
	<!-- //sidebar -->

	<!-- container -->
	<div class="ui-container">
		<div class="ui-content">
			<div class="content-wrap">
				<a href="javascript:UI.layout.rightbar.open();">rightbar Open</a>
				<!-- <div class="panel top">content.top</div>
				<div class="panel left">content.left</div>
				<div class="panel right">content.righ</div>
				<div class="panel bottom">content.bottom</div> -->
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat provident dolores aperiam molestias veritatis, modi nesciunt aspernatur, rem eaque maiores, voluptatem facilis quam laudantium consequatur ducimus corporis dolorem quibusdam quas.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat provident dolores aperiam molestias veritatis, modi nesciunt aspernatur, rem eaque maiores, voluptatem facilis quam laudantium consequatur ducimus corporis dolorem quibusdam quas.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat provident dolores aperiam molestias veritatis, modi nesciunt aspernatur, rem eaque maiores, voluptatem facilis quam laudantium consequatur ducimus corporis dolorem quibusdam quas.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat provident dolores aperiam molestias veritatis, modi nesciunt aspernatur, rem eaque maiores, voluptatem facilis quam laudantium consequatur ducimus corporis dolorem quibusdam quas.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat provident dolores aperiam molestias veritatis, modi nesciunt aspernatur, rem eaque maiores, voluptatem facilis quam laudantium consequatur ducimus corporis dolorem quibusdam quas.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat provident dolores aperiam molestias veritatis, modi nesciunt aspernatur, rem eaque maiores, voluptatem facilis quam laudantium consequatur ducimus corporis dolorem quibusdam quas.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat provident dolores aperiam molestias veritatis, modi nesciunt aspernatur, rem eaque maiores, voluptatem facilis quam laudantium consequatur ducimus corporis dolorem quibusdam quas.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat provident dolores aperiam molestias veritatis, modi nesciunt aspernatur, rem eaque maiores, voluptatem facilis quam laudantium consequatur ducimus corporis dolorem quibusdam quas.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat provident dolores aperiam molestias veritatis, modi nesciunt aspernatur, rem eaque maiores, voluptatem facilis quam laudantium consequatur ducimus corporis dolorem quibusdam quas.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat provident dolores aperiam molestias veritatis, modi nesciunt aspernatur, rem eaque maiores, voluptatem facilis quam laudantium consequatur ducimus corporis dolorem quibusdam quas.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat provident dolores aperiam molestias veritatis, modi nesciunt aspernatur, rem eaque maiores, voluptatem facilis quam laudantium consequatur ducimus corporis dolorem quibusdam quas.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat provident dolores aperiam molestias veritatis, modi nesciunt aspernatur, rem eaque maiores, voluptatem facilis quam laudantium consequatur ducimus corporis dolorem quibusdam quas.</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat provident dolores aperiam molestias veritatis, modi nesciunt aspernatur, rem eaque maiores, voluptatem facilis quam laudantium consequatur ducimus corporis dolorem quibusdam quas.</p>
			</div>
		</div>
	</div>
	<!-- //container -->

	<!-- footer -->
	<footer class="ui-footer">
		<div class="footer-wrap">Footer</div>
	</footer>
	<!-- //footer -->

	<!-- rightbar -->
	<aside class="ui-rightbar">
		<div class="rightbar-wrap">
			<button type="button" id="ui-rightCloseBtn" class="btn btn-white btn-round layout-rightbar-close" aria-label="Close"></button>
			Rightbar
		</div>
	</aside>
	<!-- //rightbar -->

</div>
<!-- //wrap -->

</body>
</html>