@charset "utf-8";


//---------------------------
$project-class : 'ui-';


/**
* layout
* ------------------
*/

body{background-color:#fff;}


.ui-header{
	background: skyblue; /* border: 1px solid #000; */ 
}

.navbar {
	/* background-color:#fff; */ /* border-bottom:1px solid #D0D0DE; */
}

.ui-leftbar{
	background:#f87272; border-right:1px solid #D0D0DE;
}

.ui-rightbar { 
	box-shadow: 0 3px 6px 0 rgba(114, 114, 203, 0.15); background-color: orange;
}

.ui-container{
	> .ui-content{
		.content-wrap{

		}
	}
}

.ui-footer{
	background-color:beige; 
}


//======================================
// Responsive Tablet under
//======================================
@include mediaQuery(tablet_under){
	body.leftbar-close{
		.ui-leftbar{

		}
	}

	.ui-header{

	}
	
	.navbar{
	}

	.ui-leftbar{
		
	}

	.ui-container {

	}

	.ui-footer{
	}
}


//======================================
// Responsive PC
//======================================
//leftbar
body.leftbar-close{

	.ui-header{
	}

	.ui-container{
	}
}


//---------------------
//rightbar
body.rightbar-close {

}





