@charset "utf-8";


/**
* layout
* ------------------
* leftbar : mo-nav-cover
*/




//======================================
// Default
//======================================
body{
	.ui-header{
		z-index: $zindex-header;
		position: fixed; top: 0; left:$leftbar-width; right:0; 
		@include layout-transition(left);
	}

	.navbar {min-height: $header-height;}

	.ui-leftbar{
		z-index: $zindex-leftbar; 
		position: fixed; top: 0; bottom: 0; left: 0; 
		width: $leftbar-width;
		@include layout-transition(left);
	} 

	.ui-rightbar {
		z-index: $zindex-rightbar; 
		position:fixed;top:$header-height; bottom:0; left:initial; right:0;
		width:$rightbar-width;
		@include layout-transition(right);
	} 

	.ui-container{
		position: relative; 
		height:100vh; margin-left: $leftbar-width;
		@include layout-transition(margin);

		> .ui-content{
			.content-wrap{
				@include clearfix();
				position:relative; top: initial; left: initial;
				width :100%; height : $content-height;margin-top: $navbar-height; 
			}
		}
	}

	.ui-footer{
		z-index:$zindex-footer; 
		position:fixed;bottom:0;left:0;right:0; 
		height:$footer-height; margin-left: $leftbar-width;
		@include layout-transition(margin);
	}
}


//Nav Cover Type
body.layout-nav-cover{
	.ui-header{
		left: 0;
	}
	.ui-container{
		margin-left: 0;
	}

	.ui-footer{
		margin-left: 0;
	}
} 


//======================================
// Body Trigger
//======================================
// leftbar-close
body.leftbar-close{
	.ui-header{
		left: 0;
		@include layout-transition(left);
	}

	.ui-leftbar{
		left : -$leftbar-width;
		@include layout-transition(left);
	}

	.ui-container{
		margin-left: 0;
		@include layout-transition(margin);
	}

	.ui-footer{
		margin-left: 0;
		@include layout-transition(margin);
	}
}

//--------------------------------------
// rightbar-close
body.rightbar-close{
	.ui-rightbar{
		right:-$rightbar-width;
		@include layout-transition(right);
	}
}



//======================================
// Responsive 
//======================================
@include mediaQuery(tablet_under){
	//Nav Pull Type
	body{
		.ui-header{
			left: $leftbar-width;
		}

		.ui-leftbar{
			z-index:$zindex-leftbar-mo;
		}

		.ui-rightbar{
			z-index:$zindex-rightbar-mo;
		}

		.ui-container{
			margin-left: $leftbar-width;
		}

		.ui-footer{
			margin-left: $leftbar-width;
		}
	}
	

	//Nav Cover Type
	body.layout-nav-cover{
		.ui-header{
			left: 0;
		}
		.ui-container{
			margin-left: 0;
		}
	
		.ui-footer{
			margin-left: 0;
		}
	} 




	//--------------------------------------
	// leftbar-close
	body.leftbar-close{
		.ui-header{}

		.ui-leftbar{}

		.ui-container {}

		.ui-footer{}
	}

	//--------------------------------------
	// rightbar-close
	body.rightbar-close{
		.ui-rightbar{
			right : -$rightbar-width;
		}
	}
}


