@charset "utf-8";


/* 

1. 레프트 네비겨이션 
	body.layout-left

2. 오른쪽 네비게이션
	body.layout-right
 */

//---------------------------
$project-class : 'ui-';

$header-height : 60px;
// $mo-header-height : 50pxt;
$navbar-height : 60px;


$leftbar-width: 250px;
$rightbar-width: 360px;

$content-width : 1150px;
$content-height :calc(100vh - #{$header-height});

$footer-height : 60px;

//[z-index] ------------------------
$zindex-header : 900;

$zindex-leftbar : 999;
$zindex-leftbar-mo : 9000;
$zindex-rightbar : 1040;
$zindex-rightbar-mo : 9000;

$zindex-footer : 1000;

$zindex-dimm : 8000;


//[mixin]-----------------------
$common-transition : cubic-bezier(0.685, 0.0473, 0.346, 1);

@mixin layout-transition($target) {
	-webkit-transition: $target .33s $common-transition 0s;
	transition: $target .33s $common-transition 0s;
}


 @mixin transform-translate-x($value){
	-webkit-transform:  translate3d($value, 0, 0);
	-moz-transform: translate3d($value, 0, 0);
	-o-transform: translate3d($value, 0, 0);
	-ms-transform: translate3d($value, 0, 0);
	transform: translate3d($value, 0, 0);
} 

//[SVG] -------------------
$icon_close_white : $icon_close_white;
$icon_menu : $icon_menu;
$icon_close : $icon_close;



/**
* layout
* ------------------
*/

body{overflow-x: hidden; overflow-y: auto;}

// @include mediaQuery(phone){
// 	html,
// 	body {position: relative; overflow-x: hidden;}
// }

//.wrapper
.ui-wrap{position: relative;top: 0;height: 100vh;
	&:after{display: table; clear: both; content: " "; }
}





//======================================
// dimm
//======================================
.leftbar-dimm, 
.rightbar-dimm{z-index:-1; opacity:0;}

@include mediaQuery(tablet_under){
	.leftbar-dimm, 
	.rightbar-dimm{
		z-index:-1; 
		position: fixed;top: 0;bottom:0; left: auto; right: 0;
		height: 100%; width: 100%;  
		background: rgba(0, 0, 0, 0.6); content: ""; overflow-x: hidden; opacity: 0;

		@include layout-transition(opacity);
		will-change: opacity;

		&.visible{ z-index: $zindex-dimm; opacity: 1;}
	}
}


//======================================
// Event BTN
//======================================
//open, close, toggle
// mobile 기능분리


//======================================
//leftbar
//Toggle Btn
.btn-leftbar-toggle{
	position:relative;
	width:38px;height:38px;padding:0; border-radius: 50%;
	&:after{
		content:''; 
		position:absolute; top:50%; left:50%;
		width:28px;height:28px;
		background:url($icon_menu) 0 0 no-repeat; 
		transform:translate(-50%, -50%);}
}
@include mediaQuery(tablet_under){
	body.mo-leftbar-open{
		.btn-leftbar-close{visibility: visible;}
	}
}

//Open Btn
//...insert


//Close Btn : PC hide
.btn-leftbar-close{
	display: block;
	z-index:9999; 
	position:absolute; right:15px; top:10px; 
	width:28px;height:28px; 
	background:url($icon_close_white) 0 0 no-repeat;
}
@include mediaQuery(tablet_under){
	body{
		.btn-leftbar-close{
			display: block;
			z-index:9999; 
			position:absolute; right:-45px; top:10px; 
			width:28px;height:28px; 
			background:url($icon_close_white) 0 0 no-repeat;
		}
	}
	body.leftbar-close{
		.btn-leftbar-close{
			display:none;
			z-index:-1;
		}
	}
}



//======================================
//rightbar
//toggle Btn
.btn-rightbar-toggle{
	position:relative;
	width:38px;height:38px;padding:0; border-radius: 50%;

	float: right;
	&:after{
		content:''; 
		position:absolute; top:50%; left:50%;
		width:28px;height:28px;
		background:url($icon_menu) 0 0 no-repeat; 
		transform:translate(-50%, -50%);}
}

//Open Btn
//...insert

// Close Btn
.btn-rightbar-close{
	position:relative;
	width:32px;height:32px; margin-left:15px;padding:0;
	&:after{
		content:''; 
		position:absolute; top:50%; left:50%; 
		width:28px;height:28px; 
		transform:translate(-50%, -50%);
		background:url($icon_close) 0 0 no-repeat;
	}
}




//================================
// init
//================================
// * PC, Mobile 에서 body.rightbar-close 토글 클래스 하나만 가져가는 문제로 인한 모바일 초기 튐 현상 방지
//----------------------------
// mobile init
@include mediaQuery(tablet_under){
	body.ui-mobile-init{
		.ui-header{
			left: 0;
		}

		.ui-leftbar{
			left: -$leftbar-width;
			@include transform-translate-x(-$leftbar-width);
		}

		.ui-rightbar{
			right : -$rightbar-width !important;
		}

		.ui-container {
			margin-left: 0;
		}

		.ui-footer{
			margin-left: 0;
		}
	}
}


//----------------------------
// leftFix
body[data-layout-base="left"]{
// body.layout-left-fix{
	&.ui-mobile-init{
		.ui-rightbar{
			right : -$rightbar-width;
		}
	}
}

//----------------------------
// leftFix cover
body.layout-nav-cover{
	&.ui-mobile-init{
		.ui-leftbar{
			left : -$leftbar-width;
		}
	}
}



//---------------------------------------
//TEST
// body[data-layout-option *="'type' : 'left'"]{
body[data-layout-option *='"type" : "left"'] {
	background-color: #000;
}
body[data-layout-option *='"nav-pc" : "cover"'] {
	// background-color: #000;
	color:red;
}
/* 
body[data-layout-option *='"type" : "left"'] {
	background-color: #000;
} */

body[data-layout-option *="left-type"] {
	// background-color: #000;
	color:red;
}