@charset "utf-8";

/*
* font.Noto Sans.latin
* --------------
*/


$font-path : '../font/nanumSquare/';


@font-face {
	font-family: 'NanumSquareR';
	font-weight: 400;
	src: url($font-path + 'NanumSquareR.eot');
	src: url($font-path + 'NanumSquareR.eot?#iefix') format('embedded-opentype'),
		url($font-path + 'NanumSquareR.woff') format('woff'),
		url($font-path + 'NanumSquareR.ttf') format('truetype');
	}
@font-face {
	font-family: 'NanumSquareB';
	font-weight: 500;
	src: url($font-path + 'NanumSquareB.eot');
	src: url($font-path + 'NanumSquareB.eot?#iefix') format('embedded-opentype'),
		url($font-path + 'NanumSquareB.woff') format('woff'),
		url($font-path + 'NanumSquareB.ttf') format('truetype');
}
@font-face {
	font-family: 'NanumSquareEB';
	font-weight: 600;
	src: url($font-path + 'NanumSquareEB.eot');
	src: url($font-path + 'NanumSquareEB.eot?#iefix') format('embedded-opentype'),
		url($font-path + 'NanumSquareEB.woff') format('woff'),
		url($font-path + 'NanumSquareEB.ttf') format('truetype');
}
@font-face {
	font-family: 'NanumSquareL';
	font-weight: 700;
	src: url($font-path + 'NanumSquareL.eot');
	src: url($font-path + 'NanumSquareL.eot?#iefix') format('embedded-opentype'),
		url($font-path + 'NanumSquareL.woff') format('woff'),
		url($font-path + 'NanumSquareL.ttf') format('truetype');
}